
<div class="container my-3">
<div class="row">
    <div class="col-12 my-3">
      <img src="https://a-listvillas.com/files/2019/01/sttropez-luxury-villa-marisa-mainpage.jpg" alt="" class="image">
    </div>
  </div>
  <div class="row">
    <div class="col-8 bg-body-secondary shadow-sm rounded my-3 text-center d-flex align-items-center justify-content-center">
      <div>
        <h1 class='title-show'><%= @flat.name %></h1>
        <h3 class='address-show'><%= @flat.address %></h3>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-3 bg-body-secondary shadow-sm rounded my-3 justify-content-center">
      <p class="book">Book this Place</p>
      <form action="">
        <label for="check-in-date">Check In</label>
        <input class="form-control" type="date" name="start" id="">
        <label for="check-out-date">Check Out</label>
        <input class="form-control" type="date">
      </form>
      <a href="https://www.lecollectionist.com/en/luxury-rental/villa-maestra-saint-tropez-peninsula" class="btn btn-primary my-2">Book now</a>
    </div>

  </div>
  <div class="row">
    <div class="col-8 my-3 bg-body-secondary shadow-sm rounded">
    <h3 class="subheader">A bit more about this Home</h3>
      <p class='desc'><%= @flat.description %></p>
    </div>
    <div class="col-1"></div>
    <div class="col-3 d-flex my-3 justify-content-between bg-body-secondary shadow-sm rounded align-items-center">
      <h3 class="share-title">Share</h3>
      <h3 class="share"><a class="social" href=""><i class="fa-brands fa-facebook"></i></a>  <a class="social" href=""><i class="fa-brands fa-twitter"></i></a>  <a class="social" href=""><i class="fa-brands fa-instagram"></i></h3></a>
    </div>
  </div>
  <div class="row">
    <div class="col-8 my-3 bg-body-secondary shadow-sm rounded">
      <h3 class="subheader">Details</h3>
      <div class="price-guests">
        <i class="fa-solid fa-euro-sign"><%= @flat.price_per_night %></i>
        <i class="fa-solid fa-user-tie"><%= @flat.number_of_guests %></i>
      </div>
    </div>
  </div>
</div>
